
<div class="container" style=" display: flex;flex-direction: row;border: 1px solid #ccc; border-radius: 10px; padding: 10px;">
    <div class="column" style=" flex: 1; margin: 10px;">
        <img src="@ImageUrl" width="50" height="50" />
    </div>
    <div class="column" style=" flex: 2;  margin: 10px;">

        <div>@Title</div>
        <div>@Text</div>
    </div>
    <div class="column" style=" @GetStatusStyle(Status)">

        @if (Status == 1)
        {
            <div class="circle green"></div>
        }
        else if (Status == 2)
        {
            <div class="circle red"></div>
        }
        else
        {
            <div class="circle orange"></div>
        }
    </div>
</div>

@code {
    [Parameter]
    public string ImageUrl { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public int Status { get; set; }


    private string GetStatusStyle(int status)
    {
        switch (status)
        {
            case 2:
                return "background-color: green; width: 20px; height: 20px; border-radius: 50%; margin: 10px;";
            case 1:
                return "background-color: red; width: 20px; height: 20px; border-radius: 50%; margin: 10px;";
            default:
                return "background-color: orange; width: 20px; height: 20px; border-radius: 50%; margin: 10px;";
        }
    }
}



